#title {
	width:100%;
	margin: 0 auto;
	background-color: #efefef;
	text-align: center;
}

#footer {
	width:100%;
	margin: 0 auto;
	background-color: #efefef;
	text-align: center;
}

img {
	width:100%;
}
