.container-fluid, .jumbotron,  .jumbotron-fluid, .row, .col-md-3, .card-title, .display-6, .col-md-9, .h6, .p, .col-md-6 {
    margin: 0;
    padding: 0;
}


.row {
    display: flex;
}

.col-md-3 .card-title {
    height: 800px;
}

.col-md-6 .img-fluid {
    height: 800px;
    width: 100%;
}


.col-md-9 .img-fluid{
    height: 800px;
    width: 100%;
}

.card-title {
    color:black;
    background-color: yellow;
    text-align: left;
    overflow: auto;
}

.card-text {
    color:white;
    text-align: center;
}

.jumbotron {
    height: 800px;
    width: 100%;
}
