@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');

body {
	margin: 0%;
	padding: 0%;
	font-family: 'Lato';
}

.container-fluid, .jumbotron, .jumbotron-fluid, .row, .col-md-3,
	.card-title, .display-6, .col-md-9, .h6, .p, .col-md-6 {
	margin: 0;
	padding: 0;
}

.navbar-brand {
	font-family: 'Pacifico';
	font-size: 35px;
	color: white !important;
}

.nav-link {
	font-size: 16px;
	margin: 15px;
	color: white;
	font-family: 'Roboto Condensed';
}

.nav-link:hover {
	color: #00E8E8 !important;
}

.active .nav-link {
	color:  white !important;
}

.row {
	display: flex;
}

.col-md-3 .card-title {
	height: 800px;
}

.col-md-6 .img-fluid {
	height: 800px;
	width: 100%;
}

.col-md-9 .img-fluid {
	height: 800px;
	width: 100%;
}

.col-md-12 {
	height: 800px;
	width: 100%;
}

.card {
	border-radius: 0;
}

.card-title {
	color: black;
	background-color: white;
}

.card-text {
	color: white;
	text-align: center;
}

.jumbotron {
	height: 800px;
	width: 100%;
	justify-content: center;
	align-items: center;
}

span.error {
	color: red;
}